# This is the CODEOWNERS file created in the industry standard format, which can be
# more thoroughly read about here: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# We will add some more metadata to this file which will allow developers to more easily seek assistance
# when something breaks and they need to ask an external team for assistance.
#
# Team Contact Info. Double pound prefix will allow internal tools to parse this file for not only ownership
# but also how to contact the owners of a file.
# Team Contact sections must be in alphabetical order
# 
# The Team Contact Info is setup as follows:
## team slack-channel
#
## @purefb/fb-test-framework #ask-fb-test-framework

# Source ownership. List must be alphabetical order.

* @purefb/fb-test-framework
